[submodule "sc/git@github.com:swiftchao/glog.git"]
	path = sc/git@github.com:swiftchao/glog.git
	url = git@github.com:swiftchao/glog.git
[submodule "sc/glog"]
	path = src/glog
	url = git@github.com:swiftchao/glog.git
[submodule "sc/googletest"]
	path = src/googletest
	url = git@github.com:swiftchao/googletest.git
[submodule "src/rapidjson"]
	path = src/rapidjson
	url = git@github.com:swiftchao/rapidjson.git
[submodule "src/rocksdb"]
	path = src/rocksdb
	url = git@github.com:swiftchao/rocksdb.git
[submodule "src/leveldb"]
	path = src/leveldb
	url = git@github.com:swiftchao/leveldb.git
[submodule "src/zstd"]
	path = src/zstd
	url = git@github.com:swiftchao/zstd.git
[submodule "src/xxHash"]
	path = src/xxHash
	url = git@github.com:swiftchao/xxHash.git
[submodule "src/boost"]
	path = src/boost
	url = git@github.com:swiftchao/boost
